.landing-page{

    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.landing-hero{

    background: url('https://imgs.search.brave.com/yjpizAnt5jSnkiZ-hClK-YSNY9O2D8LLFCqL1-_5Ewk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5saWNkbi5jb20v/ZG1zL2ltYWdlL0M1/NjEyQVFGblExMGtt/RFZ1NncvYXJ0aWNs/ZS1jb3Zlcl9pbWFn/ZS1zaHJpbmtfNjAw/XzIwMDAvMC8xNTIw/MDYxNjMxNzMwP2U9/MjE0NzQ4MzY0NyZ2/PWJldGEmdD1PR3Ru/QkY5YVBLZ21kMmF6/OWktS2FRQ2NmNTI3/bTVibTJMZEhYMm9I/bWtz');
    height: 100vh;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

.landing-nav{
    
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 0 2vw;
    align-items: center;
}

.landing-nav h3{

    margin: 0;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script', cursive;
    cursor: pointer; 
}
.landing-nav h3:hover{
  color: rgb(0, 0, 0);
   
}

.landing-nav button{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #0e7eda00;
    border: 1.5px solid #f1e1e1;
    color: #eddcdc;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-nav button:hover{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #3224f1bb;
    border: 1.5px solid #da4a4a43;
    color: #ffffffee;

    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-hero-text{

    width: 70%;
    margin-left: 15%;
    margin-top: 10vh;
    text-align: center;
    color: #ffffffee;
}

.landing-hero-text h1{

    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.landing-hero-text p{

    font-family: 'Work Sans', sans-serif;
    color: #ffffffb8;
}

.landing-hero-text button{

    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #c9ced200;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-hero-text button:hover{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #1328e099;
    border: 1.5px solid #e1d5d567;
    color: #ffffff;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

